/*CSS Reset and REM sizing*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

/*Page height and content alignment*/
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.grid-box {
  aspect-ratio: 1/1;
  width: 40%;
  max-width: 40%;
  max-height: 100%;
  border: 0.5rem solid pink;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.grid-square {
  aspect-ratio: inherit;
  border: 0.1px solid black;
}

.generate-grid {
}

/*Next:Make it so amount of pixels used is unchanged even after grid generation*/
